@import url('https://fonts.googleapis.com/css?family=Exo:200,200i,300,300i,400,400i,500,900&display=swap');

.header-transparent {
    background-color: #FFF0;
    position: fixed;
    color: #FDD;
    width: 100%;
    ;
}

.header-tittle {
    margin-left: 3vw;
    padding: 0.5vw;
    font-family: 'Exo', sans-serif;
}

.onscroll-header {
    background-color: #002c55;
}