@import url('https://fonts.googleapis.com/css?family=Exo:200,200i,300,300i,400,400i,500,900&display=swap');

body {
    margin: 0;
    padding: 0;
    letter-spacing: 0.3vw;
    font-weight: 300;
    font-family: 'Exo', sans-serif;
}

.extra {
    height: 5vw;
}